/* TABLET */
@media screen and (min-width: 768px) {
    .containerMain .section1 {
        grid-row: 1 / span 2;
    }

    .containerMain .section2 {
        grid-row: 1 / 3;
    }

    .containerMain .section3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .containerMain .sidebar1 {
        grid-column: 2 / 4;
    }

    .containerMain .sidebar2 {
        display:none;
    }


    nav a {
		display: none;
    }

    nav img {
      width: 60px;
    }
    
    nav i.fas.fa-bars{
        display:block;
    }
}



/* MOBILE  */
@media screen and (max-width: 576px){

    .containerMain {
        display: grid;
        grid-column: 1/4;
        grid-row: 2/3;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 1fr);
        padding-left: 10px;
        padding-right: 10px;   
    }

    .containerMain .portfolio {
        grid-column: 1/2;

        padding-bottom:1em;
    }

    
    .containerMain .about .text {
        padding-top: 1em;
        padding-bottom: 1em;
        grid-column: 1/4;
    }

    .containerMain .about .myPhoto{
        grid-column: 2 / 3;
        grid-row: 4/ 5;
        width: 200px;
        height: 200px;
        
        
    }

    .containerMain .skills {
        grid-column: 1/ 4;
        grid-row: 5/ 6;
        /* display: grid;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
    } */
    }

    .containerMain .skills .html{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-bottom: 5em;
    
    }
    
    .containerMain .skills .css {
        grid-column: 1/2;
        grid-row: 3/4;
        }
    
/*     
    .containerMain .skills .jas {
        grid-column: 1/2;
        grid-row: 4/5; */
            
    }
    .containerMain .skills .jas {
        grid-column: 1/2;
        grid-row: 4/5;
    }


    .containerMain .skills .json{
        grid-column: 1/2;
        grid-row: 6/7;

     } 

     .containerMain .skills h3 {
    display: flex;
    justify-content: center; 
    padding: 2em; 
    }


    .containerMain .contact {
        grid-column: 1 / 4;
        grid-row: 6/ 7;
    }


    .containerMain .contact .map{
        grid-column: 1 / 4;
        grid-row: 7/ 8;
    }

    .containerMain footer a{
        display: inline-flex;
        justify-content: space-around;
    }

    

    nav a {
		display: none;
    }

    nav img {
      width: 60px;
    }
    
    nav i.fas.fa-bars{
        display:block;
    }
}